@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&display=swap');

body{
    background-color: black;
}

header{
    position: sticky;
    top: 0;
    background-color: black;
    border-bottom-color: rgb(255, 0, 0);
    border-bottom: 2px solid red;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-family: kedebideri-regular, sans-serif;
    /* position: fixed; */
    /* top: 20; */
}

footer{
    margin-top: 10px;
    font-family: kedebideri-regular, sans-serif;
}

.logo img{
    max-width: 150px;
    width: 100%;
    /* margin-bottom: 15px; */
}

.links a{
    padding: 7px;
    background-color: brown;
    border-radius: 5px;
    color: aliceblue;
    text-decoration: none;
}

.titulo{
    color: brown;
    font-size: xx-large;
    font-weight: 700;
    text-shadow: 1px 3px rgb(110, 23, 23), -1px -2px rgb(218, 196, 196);
}

.separacion{
    background-color: brown;
    height: 10px;
    width: 100%;
}

.contenido{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
}

.c1{
    grid-column: 1/2;
    color: brown;
    margin: 5px 8px;
    text-align: center;
    margin: 0 auto;
}

.c2{
    grid-column: 2/3;
    color: aliceblue;
    text-align: center;
    margin: 5px 8px;
}

.c3{
    grid-column: 3/4;
    margin: 5px 8px;
    text-align: center;
}

.c1-1, .c1-2, .c1-3, .c1-4{
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 0.5em 1em;
    margin-bottom: 10px;
    margin: 0 auto;
}

.c1-desc{
    margin-left: 15px;
     /* font-size: larger; */
    /* font-style: italic; */
}

.c1 img{
    padding: 2px;
    margin-bottom: 15px;
}

.c1-desc a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.c1-desc a:hover, .links a:hover{
    filter: brightness(150%);
}

footer h2{
    color: brown;
    text-decoration: underline;
    font-weight: 600;
}

.info-personal span{
    padding: 5px 10px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* background-color: rgb(151, 151, 151); */
    text-decoration: underline;
    color: rgb(185, 0, 0);
    border-radius: 5px;
    margin-bottom: 8px;
}

.info-personal p:hover{
    filter: brightness(150%);
}

.btnSubir{
    text-decoration: none;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 4px 6px;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
}

.c3 .info-extra{
    color: aliceblue;
}

.info-extra ul li {
    list-style: none;
    margin-bottom: 10px;
}

.info-extra ul li a{
    text-decoration: none;
    color: aliceblue;
}

.info-extra ul li a:hover{
    filter: brightness(150%);
}

.info-extra{
    text-align: center;
}

@media (max-width: 1090px) {
    /* body{
        width: 1080px;
    } */
    header{
        text-align: center;
        width: 100%;
        /* height: 100px; */
    }
    nav{
        display: inline-block;
        margin: 10px;
        text-align: center;
    }
    footer{
        width: 100%;
    }
    .contenido{
        display: block;
        width: 100%;
        text-align: left;
    }

    .c1, .c2, .c3{
        text-align: center;
    }

    .c1-1, .c1-2, .c1-3, .c1-4 {
        margin: auto;
    }

    .logo img{
        position: relative;
        top: 10px;
    }

}