.grid-3 {
  background-color: burlywood;
  grid-template-columns: 2;
  grid-template-rows: 9;
  gap: 10px;
}
a {
  text-decoration: none;
  color: white;
}
.di1 {
  display: flex;
  justify-content: space-around;
}
.Ropa {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

