* {
    margin: 0%;
    padding: 0%;    
    box-sizing: border-box;
}

body {
    display: grid;
    max-width: 100vw;
    align-items: center;
    margin: 0%;
    padding: 0%;
  background-image: linear-gradient(45deg, #343941 25%, transparent 25%), linear-gradient(-45deg, #343941 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #343941 75%), linear-gradient(-45deg, transparent 75%, #343941 75%);
    background-size: 42px 42px;
    background-repeat: repeat;
    opacity: 1;
    background-color: #125fc4;
    grid-template-columns: 1fr; /*esto es lo que define*/
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" 
    "nav" "section" "footer";
    
}

.fuente{
 font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.header{
    grid-area: header;
    background: #3db4e3;
background: linear-gradient(353deg, rgba(61, 180, 227, 1) 0%, rgba(31, 126, 181, 1) 100%);
    text-align: center;
}

.titulo-header{
    font-size: x-large;
}

.img-header{
    height: 7em;
    width: 9em;
    margin-top: 1%;
    
}
.nav{
    grid-area: nav;
    background-color: bisque;
    font-size: medium;
}
nav{
    display: flex;
justify-content: center;
gap: 20px;
min-height: 50px;
}
nav button{
    margin-bottom: 2px;
    margin-top: 2px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}
button a{
    text-decoration: none;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
}


.section{
    margin: 0px 20px;
    margin-top: 10px;
    padding: 20px; /*importante*/
    grid-area: section;
    background: #b4cbd4;
    box-shadow: 2px 1px 20px black;
background: radial-gradient(circle, rgba(180, 203, 212, 0.7) 0%, rgba(148, 187, 233, 1) 100%);/*fondo transparente*/  
    height: 100%;
    width: auto;
text-align: justify;
}
section a{
    text-decoration: none;
}
.img-pag{
display: center;
align-items: center;
margin: auto;
  height: auto;
  max-width: 350px;
    border-style: double; 
    border-color: black;
}
table{
    background-color: thistle;
    border-style: double;
    box-shadow: 1px 1px 4px black;
    height: 20px;
    width: fit-content;
}
table td{
    background-color: #000;
    color: white;
    height: 20px;
    text-align: center;
}
.footer{
    margin-top: auto;
    grid-area: footer;
    background: #2bbccf;
background: linear-gradient(190deg, rgba(43, 188, 207, 1) 35%, rgba(217, 247, 255, 1) 100%);
    height: auto;
    width: auto;

}

address{
    margin-top: 1%;
    margin-left: 2%;
    font-size: small;
    align-content: center;
}
address a{
height: 80px;
}
