main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "encabezado encabezado" "contenido menulateral" "pie pie";
    gap: 10px;
}

section {
    grid-area: menulateral;

}

dd {
    text-align: left;
    margin-left: 25px;
    /* margin-right: 0; */
}

.float {
    height: auto;
    float: right;
    display: block;
    margin: 10px auto;
    width: 350px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 5s;
}

.float:hover {
    transform: scale(1.5, 2)
}

@media (max-width: 1000px) {

    /* adaptacion a pantallas pequeñas */
    .float {
        flex-direction: column;
        width: 300px;
        float: none;
    }

    .float:hover {
        transform: scale(1, 1.5)
    }
}

.float2 {
    height: 220px;
    float: right;
    display: block;
    margin: 10px auto;
    width: 380px;
}

@media (max-width: 1000px) {

    /* adaptacion a pantallas pequeñas */
    .float2 {
        flex-direction: column;
        width: 300px;
        /* padding-right: 10px; */
        height: auto;
        float: none;

    }
}

.float3 {
    width: 650px;
    height: 300px;
    float: right;
    display: block;
    margin: 10px auto;
}

@media (max-width: 1000px) {

    /* adaptacion a pantallas pequeñas */
    .float3 {
        flex-direction: column;
        width: 300px;
        /* padding-right: 10px; */
        height: auto;
        float: none;

    }
}

article {
    grid-area: contenido;
}

body {
    text-align: center;
    background-color: aquamarine;
}

.efp7 {
    width: 200px;
    height: 80px;
}

.imagenD {
    width: 250px;
    height: 200px;
}

.canchaimg {
    width: 450px;
    height: 200px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;

}

.imgcancha {
    display: flex;
    height: 200px;
    width: auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: auto;
    font-size: x-large;
    margin: 20px;
    border: 5px black solid;
    padding: 15px;
    justify-content: center;
    gap: 10px;
    grid-area: encabezado;
}

.icono {
    width: 30px;
    height: auto;
}

.gestion {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: x-large;
    margin: 15px;
    border: 5px black double;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dentrofuera {
    text-align: center;
}

button {
    width: 250px;
    height: 30px;
    font-size: xx-large;
    background-color: greenyellow;
    margin-top: 10px;
}

footer {
    background-color: aliceblue;
    border: 5px cornflowerblue double;
    padding: 15px;
    font-size: larger;
    margin: 20px;
    display: flex;
    grid-area: pie;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columna {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 30px;
}

.extra {
    justify-content: center;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 780px) {

    /* adaptacion a pantallas pequeñas */
    .columna {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;

    }
}

@media (max-width: 900px) {

    /* adaptacion a pantallas pequeñas */
    .extra {
        flex-direction: column;
    }

    .icono {
            width: 20px;
            height: auto;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "encabezado" "menulateral" "contenido" "pie";
    }

    .gestion {
        width: 90%;
        max-width: none;
        margin: 15px;
        justify-content: center;
        font-size: medium;
    }
}